body {
    background-color: #4CAF50; /* This sets the background color to a green shade */
    margin: 0;
    font-family: Arial, sans-serif;
}
main {
    color: white; /* This sets the text color to white for contrast */
    padding: 20px; /* Add some padding around the main content */
}

.login_image{
    width: calc(20% - 12.5px);  /*Splits the container space into two for the tiles, minus the gap */
    display: block;
    margin-left: 8%;
    margin-right: auto;
    float: left;
}

h1{
    font-family: Arial, sans-serif;
    width: 250px;  /*Splits the container space into two for the tiles, minus the gap */
    display: block;
    margin-left: calc(50% - 125px);
    margin-bottom: 15px
}

.preaccountLabel{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 5%;
}

.accountLabel{
    color: black; /* This sets the text color to white for contrast */
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 3%;
}

.preaddressLabel{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 5%;
}

.addressLabel{
    color: black; /* This sets the text color to white for contrast */
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 4.5%;
}

.preline2Label{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 5%;
}

.line2Label{
    color: black; /* This sets the text color to white for contrast */
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 6.75%;
}

.precityLabel{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 5%;
}

.cityLabel{
    color: black; /* This sets the text color to white for contrast */
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 8.5%;
}

.prestateLabel{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 5%;
}

.stateLabel{
    color: black; /* This sets the text color to white for contrast */
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 7.5%;
}

.prezipLabel{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 5%;
}

.zipLabel{
    color: black; /* This sets the text color to white for contrast */
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 4.8%;
}

.edit{
    font-family: Arial, sans-serif;
    color: white;
    width: 134px;
    display: block;
    margin-left: calc(50% - 69px);
    margin-bottom: 0 rem;
}

.home{
    font-family: Arial, sans-serif;
    color: white;
    width: 134px;
    display: block;
    margin-left: calc(50% - 27px);
    margin-bottom: 0.5rem;
}
.errormsg{
    text-align: center;
    font-family: Arial, sans-serif;
    
}
