body {
    background-color: #4CAF50; /* This sets the background color to a green shade */
    margin: 0;
    font-family: Arial, sans-serif;
}
main {
    color: white; /* This sets the text color to white for contrast */
    padding: 20px; /* Add some padding around the main content */
}
#editMain {
    color: black;
    padding: 20px;
}

h1{
    font-family: Arial, sans-serif;
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

a:link {
    color: darkblue;
    font-size: large;
    font-weight: 700; /*bolds the link*/
}

button{
    background-color: #dddddd;
    font-family: Arial, sans-serif;
    width: 150px;
    display: block;
}

#removeButton{
    background-color: #dddddd;
    font-family: Arial, sans-serif;
    color: maroon;
    width: 160px;
    display: block;
    background-image: url("../img/trash.png");
    background-repeat: no-repeat;
    background-size:contain;
    text-align: right;
    
}
#updateButton{
    background-color: #dddddd;
    font-family: Arial, sans-serif;
    color: darkgreen;
    width: 160px;
    display: block;
}

label {
    font-weight: 700;
    color: white; /* This sets the text color to white for contrast */
    padding: 5px; /* Add some padding around the main content */
}

input[type=text] {
    width:75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=number] {
    width: 5%;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 15px;
  }

 textarea {
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

table {
    width: 100%;
  }

th{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #04AA6D;
}

td{
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: lightgreen;
}

.userTableData{
    text-align: center;
}

.historyTable{
  text-align: center;
}

#catInput {
    position: absolute;
    right: 5%;
    top: 29%;
    text-align: center;

}
select{
    height: 60vh;
    width: 100%;
}

#oldProductImage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.category-image {
    width: 35%;
}

#modOptions {
    column-count: 2;
    text-align: center;
}

/*CSS FOR SWITCHES*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Add any other styles you need here */