body {
    background-color: #4CAF50; /* This sets the background color to a green shade */
    margin: 0;
    font-family: Arial, sans-serif;
}
main {
    color: white; /* This sets the text color to white for contrast */
    padding: 20px; /* Add some padding around the main content */
}

h1{
    font-family: Arial, sans-serif;
    width: 180px;  /*Splits the container space into two for the tiles, minus the gap */
    margin-left: calc(50% - 90px);
    margin-bottom: 5px;
}

.label1{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 10px;  /*Splits the container space into two for the tiles, minus the gap */
    margin-left: 10%;
    margin-bottom: 15px;
}

.label2{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 100px;  /*Splits the container space into two for the tiles, minus the gap */
    margin-left: 25%;
    margin-bottom: 15px;
}

.label3{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 100px;  /*Splits the container space into two for the tiles, minus the gap */
    margin-left: 15%;
    margin-bottom: 15px;
}

.label4{
    font-family: Arial, sans-serif;
    font-size: 25px;
    width: 100px;  /*Splits the container space into two for the tiles, minus the gap */
    margin-left: 15%;
    margin-bottom: 15px;
}

.product{
    margin-left: 7%;
    height: 70px;
    width: 250px;
}

.price{
    font-style: Arial, sans-serif;
    font-size: 20px;
    margin-left: calc(25% - 145px);
}

.quantity{
    font-style: Arial, sans-serif;
    font-size: 20px;
    margin-left: 15px;
}

.plusButton{
    width: 20px;
    margin-left: 15%;
}
.minusButton{
    width: 20px;
    margin-left: 15px;
}

.total{
    font-style: Arial, sans-serif;
    font-size: 20px;
    margin-left: calc(15% + 10px);
}

.subtotal{
    font-style: Arial, sans-serif;
    width: 20px;
    font-size: 25px;
    margin-left: calc(15% + 10px);
}

.sales{
    font-style: Arial, sans-serif;
    width: 20px;
    font-size: 25px;
    margin-left: calc(15% + 10px);
}

.grand{
    font-style: Arial, sans-serif;
    width: 20px;
    font-size: 25px;
    margin-left: calc(15% + 10px);
}

.subnum{
    color: grey; 
    font-style: Arial, sans-serif;
    font-size: 25px;
    margin-left: calc(2% + 30px);
}

.salesnum{
    color: grey; 
    font-style: Arial, sans-serif;
    font-size: 25px;
    margin-left: calc(2% + 20px);
}

.grandnum{
    color: grey; 
    font-style: Arial, sans-serif;
    font-size: 25px;
    margin-left: calc(2%);
}

.checkoutlink{
    color: white; 
    font-style: Arial, sans-serif;
    font-size: 30px;
    margin-left: calc(30%);
}

.updateButton{
    width: 80px;
    margin-left: 50px;
}
/* Add any other styles you need here */