<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <title>Account Page</title>
</head>
<body>
    <header>
        <h1>Your Account!</h1>
    </header>
    <main>
        
        <img src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-business-profile-avatar/100/20-1User_13-512.png" alt="LOGINICON???" class="login_image" />
        <b id="preaccountLabel" class="preaccountLabel">Username:</b>
        <b id="accountLabel" class="accountLabel"><%= username %></b>
        <div></div>
        <b id="preaddressLabel" class="preaddressLabel">Address:</b>
        <b id="addressLabel" class="addressLabel">ADDRESS PLACEHOLDER</b>
        <div></div>
        <b id="preline2Label" class="preline2Label">Line 2:</b>
        <b id="line2Label" class="line2Label">LINE2</b>
        <div></div>
        <b id="precityLabel" class="precityLabel">City:</b>
        <b id="cityLabel" class="cityLabel">YOURCITY</b>
        <div></div>
        <b id="prestateLabel" class="prestateLabel">State:</b>
        <b id="stateLabel" class="stateLabel">YOURSTATE</b>
        <div></div>
        <b id="prezipLabel" class="prezipLabel">Zipcode:</b>
        <b id="zipLabel" class="zipLabel">YOURZIPCODE</b>
        <br></br>
        <a href="/edit" class="edit">Edit Your Account</a>
        <a href="/" class="home">Home</a>
        
    </main>
</body>
</html>
