<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <title>Account Page</title>
</head>
<body>
    <header>
        <h1>Your Account!</h1>
    </header>
    <main>
        
        <img src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-business-profile-avatar/100/20-1User_13-512.png" alt="LOGINICON???" class="login_image" />
        <b id="accountLabel" class="accountLabel"><%= username %></b>
        <a href="/create" class="create">Edit Your Account</a>
        <a href="/" class="home">Home</a>
        
    </main>
</body>
</html>
