<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Account Page</title>
</head>
<body>
    <header>
        <h1>Your Account!</h1>
        <nav>
            <ul>
                <!--<li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li> "../img/loginimage2.png" -->
            </ul>
        </nav>
    </header>
    <main>
        
        <img src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-business-profile-avatar/100/20-1User_13-512.png" alt="LOGINICON???" class="login_image" />
        <form method="post" action="/validate">
            <label for="Name" class = userLabel>Username:</label>
            <input type="text" id="Name" name="username" placeholder="Your Username" class = "user"></input>

            <label for="Pass" class = passLabel>Password:</label>
            <input type="password" id="Pass" name="password" placeholder = "Your Password" class = "pass"></input>

            <button type="submit" class=button value="login">Login!</button>  
            <a href="/create" class = "create">Create an Account</a>
            <a href="/" class = "home">Home</a>

        </form> 
    </main>
</body>
</html>
