<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <title>Account Page</title>
</head>
<body>
    <header>
        <h1>Your Account!</h1>
    </header>
    <main>
        
        <img src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-business-profile-avatar/100/20-1User_13-512.png" alt="LOGINICON???" class="login_image" />
        <b id="preaccountLabel" class="preaccountLabel">Username:</b>
        <b id="accountLabel" class="accountLabel"><%= username %></b> <!--Pulls username from session; See API-->

        <div></div>
        <b id="preaddressLabel" class="preaddressLabel">Address:</b>
        <b id="addressLabel" class="addressLabel"></b>
        <div></div>
        <b id="preline2Label" class="preline2Label">Line 2:</b>
        <b id="line2Label" class="line2Label"></b>
        <div></div>
        <b id="precityLabel" class="precityLabel">City:</b>
        <b id="cityLabel" class="cityLabel"></b>
        <div></div>
        <b id="prestateLabel" class="prestateLabel">State:</b>
        <b id="stateLabel" class="stateLabel"></b>
        <div></div>
        <b id="prezipLabel" class="prezipLabel">Zipcode:</b>
        <b id="zipLabel" class="zipLabel"></b>
        <br></br>
        <a href="/edit" class="edit">Edit Your Account</a>
        <a href="/" class="home">Home</a>
        <!--ASSOCIATED JAVASCRIPT STARTS HERE-->
        <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Must load Jquery-->

        <script>
            const address1 = document.getElementById('addressLabel'); //Must load each element individually using ID
            const line2 = document.getElementById('line2Label');
            const cityLabel = document.getElementById('cityLabel');
            const stateLabel = document.getElementById('stateLabel');
            const zipLabel = document.getElementById('zipLabel');

            //<script>script src="/jquery-3.7.1.min.js"
            async function UpdateLine1() { //Function to import Line1 data from DB onto page
                const fetchShipping = await $.ajax({
                    url: `/getShipping`, //outlined in API
                    type: "GET"
                    });

                console.log("fetchShipping" + fetchShipping) //For troubleshooting
                address1.innerHTML = fetchShipping; //physically update address1 to DB information
                return;
            }

            async function UpdateLine2() { 
                const fetchLine2 = await $.ajax({ //See function above for convention
                    url: `/line2`,
                    type: "GET"
                    });

                console.log("fetchLine2" + fetchLine2)
                line2.innerHTML = fetchLine2;
                return;
            }

            async function UpdateCity() { //See function above for convention
                const fetchCity = await $.ajax({
                    url: `/getCity`,
                    type: "GET"
                    });

                console.log("fetchCity" + fetchCity)
                cityLabel.innerHTML = fetchCity;
                return;
            }

            async function UpdateState() { //See function above for convention
                const fetchState = await $.ajax({
                    url: `/getState`,
                    type: "GET"
                    });

                console.log("fetchState" + fetchState)
                stateLabel.innerHTML = fetchState;
                return;
            }

            async function UpdateZip() { //See function above for convention
                const fetchZip = await $.ajax({
                    url: `/getZip`,
                    type: "GET"
                    });

                console.log("fetchZip" + fetchZip)
                zipLabel.innerHTML = fetchZip;
                return;
            }

            UpdateLine1(); //Call all the functions when the page runs
            UpdateLine2(); //These all default (through the address controller) to using the userID pulled from the session, which is why they dont take in a userID here
            UpdateCity();
            UpdateState();
            UpdateZip();
            console.log("IM RUNNING") //For troubleshooting

        </script>

    </main>
</body>
</html>
