<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Add Products!</title>
</head>
<body>
    <header>
        <h1>Fill in Product Information</h1>
    </header>

    <main>
        <form method="post" action="/validateProduct">
            <label for="productName" class = prodLabel>Product Name:</label>
            <input type="text" id="productName" name="productName" placeholder="Product Name" class = "productName"></input>
            <br>

            <label for="price" class = priceLabel>Price:</label>
            <input type="number" step="0.01" min="0.00" id="price" name="price" placeholder = "Product Price" class = "price"></input>
            <br>

            <label for="inventory" class = invLabel>Current Inventory:</label>
            <input type="number" min="0" id="inventory" name="inventory" placeholder = "Currrent Inventory" class = "inventory"></input>
            <br>

            <label for="productDesc" class = descLabel>Description:</label>
            <input type="text" id="productDesc" name="productDesc" placeholder = "Product Description" class = "productDesc"></input>
            <br>

            <label for="categories" class = catLabel>Categories (You can enter multiple categories with each separate by a comma, don't include spaces after comma):</label>
            <input type="text" id="categories" name="categories" placeholder = "Enter your categories here" class = "categories"></input>
            <br>

            <button type="submit" class=button value="Add Product">Add Product</button>  
        </form> 
    </main>
</body>