<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Adminstrative Tools</h1>
    </header>

    <main>
        <a href="/addProduct">Add products</a>
        <br>
        <a href="/editProducts">Edit Products</a>
        <br>
        <a href="/manageUsers">Manage Users</a>
        <br>
        <a href="/moderate">Moderate Reviews</a>
        <br>
    </main>
</body>