<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Adminstrative Tools</h1>
    </header>

    <main>
        <div id="modOptions">
            <a href="/addProduct" class="image-link">
                <img src="/img/addProduct.png" alt="Add Products" class="category-image"></img>
            </a>
            <br>
            <a href="/addProduct">Add products</a>
            <br>

            <a href="/editProducts" class="image-link">
                <img src="/img/editProducts.png" alt="Edit Products" class="category-image"></img>
            </a>
            <br>
            <a href="/editProducts">Edit Products</a>
            <br>

            <a href="/manageUsers" class="image-link">
                <img src="/img/UserIcon.webp" alt="Manage Users" class="category-image"></img>
            </a>
            <br>
            <a href="/manageUsers">Manage Users</a>
            <br>

            <a href="/moderate" class="image-link">
                <img src="/img/moderateReview.png" alt="Moderate Reviews" class="category-image"></img>
            </a>
            <br>
            <a href="/moderate">Moderate Reviews</a>
            <br>
            </div>
    </main>
</body>