<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart Page</title>
</head>
<body>
    <header>
        <h1>Your Cart</h1>
    </header>
    <!-- cart.ejs -->
    <main>
      <div id="cartContainer" ></div> <!-- Updated Container -->
      <div><b class="subtotal">Subtotal: </b><b id="subtotal" class="subnum">0</b></div>
      <div><b class="sales">Sales Tax: </b><b id="sales" class="salesnum">0</b> <a href="/checkout" class="checkoutlink">Checkout!</a></div>
      <div><b class="grand">Grand Total: </b><b id="grand" class="grandnum">0</b></div>
      
      <script>
        var userID = '<%= userID %>'; // Set global variable
      </script>      
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/javascript/cart.js"></script>
    </main>
</body>
</html>
