<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/checkout.css">
    <title>CHECKOUT</title>
</head>
<body>
    <header>
        <h1>Checkout</h1>
    </header>
    <main>
    <label for="email" class = emailLabel>Email:</label>
        <input type="email" id="email" name="email" placeholder = "Your Email!" class = "email"></input>
    <div></div>
    <label for="address" class = emailLabel>Shipping Address:</label>
        <input type="address" id="address" name="address" placeholder = "Your Shipping Address!" class = "email"></input>
        <div></div>
    <label for="address2" class = emailLabel>Shipping Address Line 2:</label>
        <input type="address2" id="address2" name="address2" placeholder = "Line 2!" class = "email"></input>
        <div></div>
    <label for="city" class = cityLabel>City:</label>
        <input type="city" id="city" name="city" placeholder = "Your City!" class = "city"></input>
        <div></div>
    <label for="state" class = stateLabel>State:</label>
    <input type="state" id="state" name="state" placeholder = "Your State!" class = "state"></input>
    <div></div>
    <label for="zip" class = zipLabel>Zipcode:</label>
    <input type="zip" id="zip" name="zip" placeholder = "Your Zipcode!" class = "zip"></input>
    <div></div>
    <label for="phonenumber" class = emailLabel>Phone Number:</label>
        <input type="phonenumber" id="phonenumber" name="phonenumber" placeholder = "Your Phone Number!" class = "email"></input>
        <br></br>


    <button id = "placeorder" type="button" class=placeorder> Place Your Order</button>
    <br></br>
    <b class = "thanks"> Thank You So Much For Your Order!</b>

</main>
</body>
</html>
