<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/checkout.css">
    <title>CHECKOUT</title>
</head>
<body>
    <header>
        <h2>Your Order is Complete</h2>
    </header>
<main>


    <b class = "thanks"> Thank you for Shopping with SupawMarket!</b>

</main>
</body>
</html>
