<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <%- include('../partials/navbar') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dogSubProducts.css">
</head>

<body>

    <main class="container mt-4">
        <h1 class="text-left mb-4">Our Dog Products</h1>
        <div class="row text-center mb-4">
            <div class="col-4">
                <h3>Food and Treats</h3>
                <a href="/dogSubProducts?category=Dog Food" class="image-link">
                    <img src="/img/food-treats.png" alt="Food and Treats" class="category-image">
                </a>
            </div>
            <div class="col-4">
                <h3>Equipment</h3>
                <a href="/dogSubProducts?category=Dog Equipment" class="image-link">
                    <img src="/img/equipment.png" alt="Equipment" class="category-image">
                </a>
            </div>
            <div class="col-4">
                <h3>Miscellaneous</h3>
                <a href="/dogSubProducts?category=miscellaneous" class="image-link">
                    <img src="/img/miscellaneous.png" alt="Miscellaneous" class="category-image">
                </a>
            </div>
        </div>

        <!-- Second Row -->
        <div class="row text-center">
            <div class="col-4">
                <h3>Toys</h3>
                <a href="/dogSubProducts?category=Dog Toys" class="image-link">
                    <img src="/img/toys.png" alt="Toys" class="category-image">
                </a>
            </div>
            <div class="col-4">
                <h3>Accessories</h3>
                <a href="/dogSubProducts?category=Dog Accessories" class="image-link">
                    <img src="/img/accessories.png" alt="Accessories" class="category-image">
                </a>
            </div>
            <div class="col-4">
                <h3>All Products Listed</h3>
                <a href="/dogSubProducts?category=all-products-listed" class="image-link">
                    <img src="/img/all-products.png" alt="All Products Listed" class="category-image">
                </a>
            </div>
        </div>
    </main>


</body>

</html>