<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/accountEdit.css">
    <title>Edit Your Account</title>
</head>
<body>
    <header>
        <h1>Edit Your Account</h1>
    </header>
    <main>
        
        <img src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-business-profile-avatar/100/20-1User_13-512.png" alt="LOGINICON???" class="login_image" />
        <b id="accountLabel" class="accountLabel"><%= username %></b>
    <div></div>
        
    <form method="post" action="/updateShippingAddress">
        <label for="email" class = emailLabel>Email:</label>
        <input type="email" id="email" name="email" placeholder = "Enter Email" class = "email"></input>
        <div></div>
        <label for="address" class = emailLabel>Shipping Address:</label>
        <input type="text" id="address" name="address" placeholder = "Enter Shipping Address" class = "email" required></input>
        <div></div>
        <label for="address2" class = emailLabel>Shipping Address Line 2:</label>
        <input type="text" id="address2" name="address2" placeholder = "Line 2 If You Need It" class = "email"></input>
        <div></div>
        <label for="city" class = cityLabel>City:</label>
        <input type="text" id="city" name="city" placeholder = "Enter City" class = "city" required></input>
        <div></div>
        <label for="state" class = stateLabel>State:</label>
        <input type="text" id="state" name="state" placeholder = "Enter State" class = "state" required></input>
        <div></div>
        <label for="zip" class = zipLabel>Zipcode:</label>
        <input type="number" id="zip" name="zip" placeholder = "Enter Zipcode" class = "zip" required></input>
        <div></div>
        <label for="phonenumber" class = phoneLabel>Phone Number:</label>
        <input type="tel" id="phonenumber" name="phonenumber" placeholder = "Enter Phone Number" class = "email"></input>
        <button type="submit" class=button value="Update Address">Update Your Information</button>
    </form>

    <br></br>
        <a href="/account" class="backaccount">Back to Account Page</a>
        <a href="/" class="home">Home</a>
        
    </main>
</body>
</html>
