<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Page</title>
</head>
<body>
    <header>
        <h1>Please Login or Create an Account</h1>
        <nav>
            <ul>
                <!--<li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>-->
            </ul>
        </nav>
    </header>
    <main>
        <img src="../img/loginimage2.png" alt="LOGINICON???" class="login_image" />

        <label for="Name" class = userLabel>Username:</label>
        <input type="text" id="Name" name="Name" placeholder="Your Username" class = "user">

        <label for="Name" class = passLabel>Password:</label>
        <input type="text" id="Name" name="Name" placeholder = "Your Password" class = "pass">

        <button type="button" class=button>Login!</button> 
        <button type="button" class=button>Create Account</button> 


        <!--<div class="product-tile"> MAKE CLASS CALLED LOGIN_IMAGE AND INPUT STYLE INFO THERE
            <a href="/products">
            </a>
            <h3 class="product-title dog-products-header">Our Dog Products</h3>
        </div>

        <img src="../img/loginicon.jpg" alt="LOGIN_ICON"> -->
    </main>
</body>
</html>
